@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Poppins:wght@400;500&display=swap');

html, body, body #root {
  height: 100%;
}

body {
  font-family: var(--font-family-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  color: var(--color-333333);
}

body #root {
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-full {
  padding: 0 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: var(--color-CC3366);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

.title--alpha {
  color: var(--color-black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-alpha);
  text-align: center;
}

.title--beta {
  font-size: var(--font-size-beta);
  font-weight: 600;
}

.title--gamma {
  font-size: var(--font-size-gamma);
}

.title--delta {
  font-size: var(--font-size-delta);
}

.title--negative {
  padding: 25px;
  margin: 0;
  font-size: var(--font-size-gamma-sm);
  font-weight: 400;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black);
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 767px;
  }

  .title--negative {
    padding: 15px;
  }
}

.container-top-image-text {
  position: relative;
  overflow: hidden;
  max-height: 400px;
}

.container-top-image-text img {
  width: 100%;
  display: block;
}

.container-top-image-text h2 {
  position: absolute;
  left: calc(50% - 348px);
  top: 45%;
  margin: 0;
  width: max-content;
  color: var(--color-white);
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .container-top-image-text h2 {
    font-size: var(--font-size-beta-3);
  }
}

@media only screen and (max-width: 540px) {
  .container-top-image-text h2 {
    font-size: var(--font-size-beta);;
    left: calc(50% - 182px);
  }
}

/*--- Forms ---*/
textarea, select, input[type=text], 
input[type=url], input[type=email], 
input[type=tel], input[type=number], 
input[type=password] {
  display: inline;
  width: 100%;
  padding: 10px;
  outline: none;
  letter-spacing: normal;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: var(--color-white);
  box-sizing: border-box;
}


.subscription-login form {
  width: 520px;
  margin: 54px auto;
  color: var(--color-7A7A7A);
  font-size: var(--font-size-md);
}

.uploaded-files {
  margin-bottom: 5px;
}

.uploaded-files-list {
  margin-bottom: 20px;
}

.uploaded-files-list button {
  background: none;
  border: none;
  border-radius: 3px;
  color: var(--color-CC3366);
  cursor: pointer;
  transition: all .3s;
}

.uploaded-files-list button:hover {
  background: var(--color-CC3366);
  color: var(--color-white);
}

button.submit-button,
.uploaded-files::file-selector-button {
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  transition: all .3s;
}

button.submit-button {
  color: var(--color-CC3366);
  border: 1px solid var(--color-CC3366);
}

.uploaded-files::file-selector-button {
  color: var(--color-666666);
  border: 1px solid var(--color-666666);
}

.uploaded-files::file-selector-button:hover {
  color: var(--color-white);
  background-color: var(--color-666666);
}

button.submit-button:disabled,
button.submit-button:disabled:hover,
button.submit-button:disabled:active {
  background-color: var(--color-CCCCCC);
  color: var(--color-858585);
  border-color: var(--color-CCCCCC);
  cursor: not-allowed;
}

button.submit-button:hover {
  color: var(--color-white);
  background-color: var(--color-CC3366);
}

.form-control {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control input {
  margin-top: 3px;
}

.form-control__checkbox {
  display: block;
  margin-bottom: 10px;
}

.form-control__checkbox input {
  margin-right: 5px;
}

.invalid input,
.invalid select {
  border: 2px solid var(--color-red);
  background-color: var(--color-FFDFDF);
}

.invalid input:focus,
.invalid select:focus {
  border: 2px solid var(--color-red);
}

.error-text {
  margin: 0;
  color: #b40e0e;
}

@media only screen and (max-width: 540px) {
  .subscription-login form {
    width: calc(100% - 20px);
  }
}

/*--- Animations ---*/
.animated {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      /* transform: translate3d(0,100%,0) */
      transform: translate(0, 20%);
  }

  to {
      opacity: 1;
      transform: none
  }
}

.fadeInUp {
  animation-name: fadeInUp
}

/*--- Carousel component styles ---*/
.custom-carousel .carousel.carousel-slider .control-arrow {
  opacity: 1;
  background: rgba(0,0,0,0.2);
  top: calc(50% - 20px);
  bottom: unset;
  padding: 5px 11px;
}

.carousel .slide {
  height: 500px;
}

.custom-carousel .carousel .slide img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/*--- Directory of Personal Trainer and Gymnasiums/Studios styles ---*/
.directory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.directory-container h1 {
  flex-basis: 100%;
  margin-bottom: 0;
}

.directory-container__item {
  flex-basis: calc(33.33% - 25px);
  margin: 0;
}

.directory-container__item figcaption {
  text-align: center;
  font-size: var(--font-size-delta);
  font-weight: 600;
  margin: 8px 0 16px;
}

.directory-container__item img {
  max-width: 100%;
}

.directory-container__item ul {
  padding-left: 15px;
}

.directory-container__item ul li {
  list-style-type: "- ";
  margin-bottom: 20px;
  line-height: 1.5;
}

.directory-container__item button {
  background-color: var(--color-474747);
  border-radius: 7px;
  font-size: var(--font-size-beta-sm);
  padding: 11px 31px;
  color: var(--color-white);
  cursor: pointer;
}
