@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Poppins:wght@400;500&display=swap');

html, body, body > div {
  height: 100%;
}

body {
  font-family: var(--font-family-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  color: var(--color-333333);
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-full {
  padding: 0 10px;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: var(--color-CC3366);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

.title--alpha {
  font-size: var(--font-size-alpha);
}

.title--beta {
  font-size: var(--font-size-beta);
  font-weight: 600;
}

.title--gamma {
  font-size: var(--font-size-gamma);
}

.title--delta {
  font-size: var(--font-size-delta);
}

textarea, select, input[type=text], 
input[type=url], input[type=email], 
input[type=tel], input[type=number], 
input[type=password] {
  display: inline;
  width: 100%;
  padding: 10px;
  outline: none;
  letter-spacing: normal;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: var(--color-white);
  box-sizing: border-box;
}

.invalid input,
.invalid select {
  border: 2px solid var(--color-red);
  background-color: var(--color-FFDFDF);
}

.invalid input:focus,
.invalid select:focus {
  border: 2px solid var(--color-red);
}

.error-text {
  margin: 0;
  color: #b40e0e;
}

/*--- Animations ---*/
.animated {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      /* transform: translate3d(0,100%,0) */
      transform: translate(0, 20%);
  }

  to {
      opacity: 1;
      transform: none
  }
}

.fadeInUp {
  animation-name: fadeInUp
}
