.show-hide-password-displayed,
.show-hide-password-hidden {
    color: var(--color-666666);
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 5px;
}

.show-hide-password-hidden {
    right: 4px;
}
