.container-top,
.container-bottom {
  position: relative;
  z-index: 1;
}

.container-top {
  height: 60vh;
  padding: 4% 0;
  transition: max-height 1s;
  background-image: url(../../images/contact__top.jpeg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-top::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  opacity: .47;
}

.container-top h2 {
  position: absolute;
  z-index: 1;
  top: calc(50% - 15px);
  width: 100%;
  margin: 0;
  color: var(--color-white);
  text-align: center;
}

.container-contact-form {
  position: relative;
  z-index: 1;
  top: -1px;
  padding: 10% 0% 8% 0%;
  background-color: var(--color-1B252F);
  color: var(--color-white);
}

.container-contact-form__internal {
  display: flex;
}

.container-contact-form h2 {
  margin-top: 0;
  font-size: var(--font-size-beta-4);
}

.container-contact-form p {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-md);
  font-style: oblique;
  line-height: 1.5;
}

.our-mission h2 {
  flex-basis: 100%;
  color: var(--color-black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-alpha);
  text-align: center;
}

.our-mission {
  position: relative;
  z-index: 1;
  background: var(--color-white);
}

.our-mission-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 110px;
}

.our-mission-wrapper > p {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-delta-sm);
  color: var(--color-7A7A7A);
  line-height: 1.5;
  margin: 0 0 40px;
}

.our-mission .our-mission__item {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
}

.our-mission .our-mission__item svg {
  font-size: var(--font-size-alpha-1);
  margin-bottom: 13px;
}

.our-mission .our-mission__item h3 {
  margin: 8px 0 7px;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-beta-3);
}

.our-mission .our-mission__item p {
  margin: 8px 0 7px;
  color: var(--color-5C5C5C);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: 1.5;
}

.container-bottom {
  min-height: 550px;
  padding: 10% 0 5%;
  border-top: 3px solid var(--color-red);
  background-image: url(../../images/about-us__gymnasiums-estudios.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  opacity: .47;
}

.container-bottom__red-bar-svg,
.container-bottom__blue-bar-svg {
  transform: rotateX(180deg);
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.container-bottom__red-bar-svg {
  height: 30px;
}

.container-bottom__blue-bar-svg {
  height: 85px;
}

.container-bottom__red-bar-path {
  fill: var(--color-red);
}

.container-bottom__blue-bar-path {
  fill: var(--color-1B252F);
}

.container-bottom__title-top,
.container-bottom__title-middle {
  z-index: 1;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-beta-4);
  font-weight: 600;
  text-align: center;
  color: var(--color-white);
}

.container-bottom__title-top {
  position: absolute;
  top: -70px;
  left: calc(50% - 600px);
  width: calc(100% - 40px);
  max-width: 1160px;
  padding: 80px 20px;
  margin: 0 auto;
  background-color: var(--color-black);
}

.container-bottom__title-middle {
  position: absolute;
  top: calc(50% - 15px);
  width: 100%;
}

.container-bottom__title-top span,
.container-bottom__title-middle span {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-beta-sm);
  color: var(--color-red);
}

.container-bottom-img {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  transform: scale(1.4);
}

@media only screen and (max-width: 1200px) {
  .container-bottom__title-top {
    left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .container-bottom__title-top,
  .container-bottom__title-middle {
    margin: 0 5%;
    width: 80%;
    padding: 7% 5%;
  }

  .container-bottom-img {
    transform: scale(2.1);
    bottom: 330px;
    top: unset;
  }
}

@media only screen and (max-width: 767px) {
  .container-top {
    background-size: 260%;
    height: 77vh;
    background-position: center;
  }

  .container-top h2,
  .our-mission h2 {
    font-size: var(--font-size-beta-2-1);
  }

  .container-contact-form {
    height: 130px;
  }

  .container-contact-form h2 {
    font-size: var(--font-size-delta);
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .our-mission .our-mission__item {
    flex-basis: 100%;
  }

  .our-mission .our-mission__item svg {
    font-size: var(--font-size-beta-5);
  }

  .our-mission .our-mission__item h3 {
    font-size: var(--font-size-beta-sm);
  }  

  .our-mission .our-mission__item p {
    font-size: var(--font-size-sm);
  }

  .container-bottom__title-top,
  .container-bottom__title-middle {
    font-size: var(--font-size-beta-sm);
  }
}
