.container-top-image {
  position: relative;
  overflow: hidden;
  max-height: 400px;
}

.container-top-image img {
  width: 100%;
  display: block;
}

.container-top-image h2 {
  position: absolute;
  left: calc(50% - 348px);
  top: 45%;
  margin: 0;
  width: max-content;
  color: var(--color-white);
  font-weight: 600;
  /* transform: translate(-50%, -50%); */
}

.form-personal-gymnasium form {
  width: 520px;
  margin: 44px auto 0;
  color: var(--color-7A7A7A);
  font-size: var(--font-size-md);
}

.form-personal-gymnasium h2 {
  padding: 25px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black);
}

.form-control {
  position: relative;
  margin-bottom: 15px;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  margin-bottom: 3px;
}

button.submit-button {
  display: block;
  font-weight: 400;
  color: var(--color-CC3366);
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background-color: transparent;
  border: 1px solid var(--color-CC3366);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  transition: all .3s;
}

button.submit-button:disabled,
button.submit-button:disabled:hover,
button.submit-button:disabled:active {
  background-color: var(--color-CCCCCC);
  color: var(--color-292929);
  border-color: var(--color-CCCCCC);
  cursor: not-allowed;
}

button.submit-button:hover {
  color: var(--color-white);
  background-color: var(--color-CC3366);
}

.termos-privacidade {
  display: block;
  margin-bottom: 10px;
}

.termos-privacidade input {
  margin-right: 3px;
}

.form-personal-gymnasium__warning {
  margin: 40px auto 80px;
  font-size: var(--font-size-sm);
  font-family: "Montserrat", Sans-serif;
  line-height: 1.5;
  color: var(--color-7A7A7A);
}

@media only screen and (max-width: 767px) {
  .header-info {
    padding: 10px;
  }

  .container-top-image h2 {
    font-size: 28px;
  }

  .form-personal-gymnasium h2 {
    padding: 15px;
  }
}

@media only screen and (max-width: 540px) {
  .container-top-image h2 {
    font-size: 22px;
  }

  .form-personal-gymnasium form {
    width: calc(100% - 20px);
    left: calc(50% - 182px);
  }
}
