header {
  position: relative;
  z-index: 2;
  background: var(--color-white);
}

.header-info {
  height: 45px;
  background-color: var(--color-262a2b);
}

.header-info__container,
.header-menu__container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-info__container {
  height: 45px
}

.header-menu__container {
  height: 100%;
}

.header-info__data-contact {
  padding-right: 13px;
  margin-right: 28px;
}

.header-info__data-contact svg,
.header-info__data--social svg {
  font-size: var(--font-size-md);
}

.header-info__data-contact svg {
  color: var(--color-red);
  margin-right: 10px;
}

.header-info__data--social svg {
  color: var(--color-white);
  width: 1em;
  height: 1em;
}

.header-info__data-contact span,
.header-info__data--social span {
  font-size: var(--font-size-text-xs);
  color: var(--color-white);
}

.header-info__data-contact--email {
  margin-right: auto;
}

.header-info__data--social {
  width: 45px;
  height: 100%;
  text-align: center;
  line-height: 2.5;
  transition: all 0.3s;
}

.header-info__data--social:hover {
  background-color: var(--color-red);
  filter: saturate(65%);
}

.header-menu {
  height: 140px;
}

.header-menu__logo {
  margin-right: auto;
}

.header-menu__logo svg {
  width: 105px
}

.header-menu__nav {
  margin-right: 10px;
}

.header-menu__nav svg {
  font-size: 20px;
}

.header-menu__nav input,
.header-menu__nav input ~ svg {
  display: none;
}

.header-menu__list {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: var(--font-size-md);
}

.header-menu__list-item-link {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  font-weight: 500;
  line-height: 10;
  color: var(--color-262a2b);
  transition: all 0.3s;
}

.header-menu__list-item-link:hover,
.header-menu__list-item-link:focus {
  color: var(--color-7a7a7a);
  box-shadow: inset 0 -3px 0 0 var(--color-red);
  background-color: var(--color-white);
}

@media only screen and (max-width: 1024px) {
  .header-menu {
    padding: 0 20px;
  }

  .header-info {
    padding: 10px 20px;
  }

  .header-info__container {
    padding: 0;
  }

  .header-menu__nav input {
    display: inline-block;
  }

  .header-menu__nav input {
    position: relative;
    z-index: 1;
    left: 14px;
    opacity: 0;
  }

  .header-menu__nav input ~ .header-menu__menu-icon {
    display: inline-block;
  }

  .header-menu__nav input:checked ~ .header-menu__menu-icon {
    display: none;
  }

  .header-menu__nav input ~ .header-menu__close-icon {
    display: none;
  }

  .header-menu__nav input:checked ~ .header-menu__close-icon {
    display: inline-block;
  }

  .header-menu__nav .header-menu__list {
    position: absolute;
    z-index: 1;
    left: -20px;
    top: 140px;
    width: 100vw;
    height: auto;
    flex-direction: column;
    background-color: var(--color-F5F5F5);
    transform-origin: top;
    transform: scaleY(0);
    max-height: 0;
    transition: all 0.3s;
  }

  .header-menu__nav input:checked ~ .header-menu__list {
    transform: scaleY(1);
    max-height: 100vh;
  }

  .header-menu__list-item-link {
    display: block;
    line-height: 3;
    font-size: var(--font-size-md);
    font-family: var(--font-family-montserrat);
  }
}

@media only screen and (max-width: 767px) {
  .header-info {
    padding: 0;
  }

  .header-info__data-contact {
    width: 45px;
    height: 100%;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
    line-height: 2.5;
    transition: all 0.3s;
  }

  .header-info__data-contact:nth-child(2) {
    margin-right: auto;
  }
  
  .header-info__data-contact:hover {
    background-color: var(--color-red);
    filter: saturate(65%);
  }

  .header-info__data-contact:hover svg {
    color: var(--color-white);
  }

  .header-info__data-contact span {
    display: none;
  }

  .header-info__data-contact svg {
    margin-right: 0;
  }

  .header-menu {
    height: 80px;
  }

  .header-menu__logo svg {
    width: 80px;
  }

  .header-menu__nav .header-menu__list {
    top: 79px;
  }
}
