.container-top-image,
.container-bottom-image__wrapper {
  position: relative;
  overflow: hidden;
  max-height: 750px;
}

.container-top-image::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  opacity: .47;
}

.container-top-image img {
  display: block;
  transform: translateY(calc(25vh - 20vw));
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1210px) {
  .container-top-image img {
    min-width: 1210px;
    min-height: 837px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-top-image img {
    transform: translateX(-60px);
  }
}

.container-top-image h2 {
  position: absolute;
  top: calc(50% - 15px);
  width: 100%;
  margin: 0;
  color: var(--color-white);
  text-align: center;
}

.container-top-title {
  position: relative;
  height: 356px;
  background-color: var(--color-1B252F);
}

.container-top-title:before {
  content: "";
  position: absolute;
  z-index: 1;
  background: #1c252e;
  width: 110%;
  height: 100%;
  right: 0;
  top: -60px;
  transform-origin: 100% 0;
  transform: rotate(-2deg);
}

.container-top-title h2 {
  position: absolute;
  z-index: 1;
  top: calc(50% - 15px);
  margin: 0;
  width: 100%;
  color: var(--color-white);
  font-size: var(--font-size-beta-4);
  text-align: center;
}

.our-mission h2,
.porque-pt-training h2,
.perguntas-frequentes h2,
.dizem-sobre-pt-training h2,
.pt-training-parceiro h2 {
  color: var(--color-black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-alpha);
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .dizem-sobre-pt-training h2,
  .pt-training-parceiro h2 {
    font-size: var(--font-size-beta-2);
  }
}

.our-mission {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.our-mission h2 {
  flex-basis: 100%;
}

.our-mission > p {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-delta-sm);
  color: var(--color-7A7A7A);
  line-height: 1.5;
  margin: 0 0 40px;
}

.our-mission .our-mission__item {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
}

.our-mission .our-mission__item svg {
  font-size: var(--font-size-alpha-1);
  margin-bottom: 13px;
}

.our-mission .our-mission__item h3 {
  margin: 8px 0 7px;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-beta-3);
}

.our-mission .our-mission__item p {
  margin: 8px 0 7px;
  color: var(--color-5C5C5C);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .our-mission .our-mission__item {
    flex-basis: 100%;
  }

  .our-mission .our-mission__item svg {
    font-size: var(--font-size-beta-5);
  }

  .our-mission .our-mission__item h3 {
    font-size: var(--font-size-beta-sm);
  }  

  .our-mission .our-mission__item p {
    font-size: var(--font-size-sm);
  }  
}

.container-bottom-image {
  position: relative;
  border-top: 2px solid var(--color-red);
}

.container-bottom-image__wrapper::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  opacity: .47;
}

.container-bottom-image__wrapper img {
  display: block;
  transform: translateY(calc(25vh - 20vw));
  width: 100%;
  height: auto;
}

.container-bottom-image__title-top,
.container-bottom-image__title-middle {
  position: absolute;
  z-index: 1;
  left: 15%;
  width: 70%;
  margin: 0;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-beta-4);
  font-weight: 600;
  text-align: center;
  color: var(--color-white);
}

.container-bottom-image__title-top {
  top: -80px;
  padding: 80px 20px;
  background-color: var(--color-black);
}

.container-bottom-image__title-top span,
.container-bottom-image__title-middle span {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-beta-sm);
  color: var(--color-red);
}

.container-bottom-image__title-middle {
  top: calc(50% - 15px);
}
